<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/index.css">
</head>
<body>
  <header class="container-fluid px-0">
    <div class="row">
      <div class="col">
        <nav class="navbar-brand">
          <span>Лого</span>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="collapase navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">О нас</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/">Как это работает</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/">Отзывы</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/">Контакты</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="row">
          <div class="col">
            <div class="banner">
              <img src="../src/images/banner.svg" class="img-fluid" alt="banner">
              <h2 class="banner-header">Вся жизнь - <b>путешествие!</b></h2>
            </div>
          </div>
        </div>
        <form data-id="search-form-main">
          <div>
            <label>Направление</label>
            <div class="search-form__group d-flex justify-content-between">
              <input class="form-control search-form-place" placeholder="Откуда">
              <img src="../src/images/ic_cached.svg" alt="round">
              <input class="form-control search-form-place" placeholder="Куда">
            </div>
          </div>
          <div>
            <label>Дата</label>
            <div class="search-form__group d-flex justify-content-between">
              <input type="text" class="form-control search-form-date" placeholder="ДД/ММ/ГГ">
              <input type="text" class="form-control search-form-date" placeholder="ДД/ММ/ГГ">
            </div>
          </div>
          <button type="button" class="btn btn-outline-light text-uppercase py-2">найти билеты</button>
        </form>
      </div>
    </div>
  </header>

  <main>
    <section class="about">
      <h2 class="text-start text-uppercase mb-4">О нас</h2>
        <div class="about-main">
          <p>Мы рады видеть вас! Мы рботаем для Вас с 2003 года. 14 лет мы наблюдаем, как с каждым днем 
            <br>все больше людей заказывают жд билеты через интернет.
          </p>
          <p>Сегодня можно заказать железнодорожные билеты онлайн всего в 2 клика, но стоит ли это делать? 
            <br>Мы расскажем о преимуществах заказа через интернет.
          </p>
          <p><b>Покупать жд билеты дешево можно за 90 суток до отправления поезда. 
            <br>Благодаря динамическому ценообразованию цена на билеты в это время самая низкая.</b>
          </p>
        </div>
    </section>
    <section class="about-process d-flex flex-column justify-content-between">
      <div class="d-flex flex-row justify-content-between">
        <h2 class="text-start text-uppercase mb-4">Как это работает</h2>
        <button type="button" class="btn btn-outline-light">Узнать больше</button>
      </div>
      <div class="d-flex justify-content-evenly">
        <div class="about-item d-flex flex-column text-center align-items-center">
          <img class="about-item-img" src="../src/images/about1.svg" alt="">
          <span>Удобный заказ<br>на сайте</span>
        </div>
        <div class="about-item d-flex flex-column text-center align-items-center">
          <img class="about-item-img" src="../src/images/about2.svg" alt="">
          <span>Нет необходимости<br>ехать в офис</span>
        </div>
        <div class="about-item d-flex flex-column text-center align-items-center">
          <img class="about-item-img" src="../src/images/about3.svg" alt="">
          <span>Огромный выбор<br>направлений</span>
        </div>
      </div>
    </section>
    <section class="feedback d-flex flex-column justify-content-between">
      <h2 class="text-start text-uppercase mb-4">Отзывы</h2>
      <div class="d-flex flex-row justify-content-between">
        <div class="feedback-item d-flex flex-row mx-3">
          <img class="feedback-item-img rounded-circle" src="../src/images/feedback1.svg" alt="">
          <div class="d-flex flex-column px-5">
            <span class="feedback-name fw-bold py-4">Екатерина Вальнова</span>
            <span class="feedback-quote fst-italic">
              <img src="../src/images/“.svg" alt="">
              Доброжелательные подсказки
              на всех этапах помогут правильно заполнить 
              поля и без затруднений купить авиа или ж/д 
              билет, даже если вы заказываете онлайн билет 
              впервые.
              <img src="../src/images/”.svg" alt="">
            </span>
          </div>
        </div>
        <div class="feedback-item d-flex flex-row mx-3">
          <img class="feedback-item-img rounded-circle" src="../src/images/feedback2.svg" alt="">
          <div class="d-flex flex-column px-5">
            <span class="feedback-name fw-bold py-4">Евгений Стрыкало</span>
            <span class="feedback-quote fst-italic">
              <img src="../src/images/“.svg" alt="">
              СМС-сопровождение до посадки
              Сразу после оплаты ж/д билетов 
              и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.
              <img src="../src/images/”.svg" alt="">
            </span>
          </div>
        </div>
      </div>
      <div class="feedback-slider d-flex flex-row justify-content-center my-5">
        <div class="slider-item active"></div>
        <div class="slider-item"></div>
        <div class="slider-item"></div>
        <div class="slider-item"></div>
        <div class="slider-item"></div>
      </div>
    </section>
  </main>

  <footer class="container-fluid bg-dark footer">
    <div class="row footer-description">
      <div class="col">
        <section class="footer-contacts nav flex-column">
          <h5>Свяжитесь с нами</h5>
          <a class="footer-contacts-phone" href="tel:+7-800-000-00-00">
            <img src="../src/images/phone.svg" alt="phone">
            <span>8(800) 000 00 00</span>
          </a>
          <a class="footer-contacts-email" href="mailto:inbox@mail.ru">
            <img src="../src/images/mail.svg" alt="mail">
            <span>inbox@mail.ru</span>
          </a>
          <a class="footer-contacts-skype" href="skype:tu.train.tickets">
            <img src="../src/images/skype.svg" alt="skype">
            <span>tu.train.tickets</span>
          </a>
          <address class="footer-contacts-address">
            <img src="../src/images/address.svg" alt="address">
            <span>г. Москва<br>ул. Московская 27-35<br>555 555</span>
          </address>
        </section>
      </div>
      <div class="col">
        <section class="footer-subscription">
          <h5>Подписка</h5>
          <label for="subscription-form">Будьте в курсе событий</label>
          <form data-id="subscription-form" class="d-flex justify-content-between py-3">
            <input class="form-control" placeholder="e-mail">
            <button type="button" class="btn btn-outline-light">ОТПРАВИТЬ</button>
          </form>
        </section>
        <section class="footer-social">
          <h5>Подписывайтесь на нас</h5>
          <div class="footer-social-links">
            <div class="footer-social-link footer-social-link-youtube"></div>
            <div class="footer-social-link footer-social-link-instagram"></div>
            <div class="footer-social-link footer-social-link-google"></div>
            <div class="footer-social-link footer-social-link-facebook"></div>
            <div class="footer-social-link footer-social-link-twitter"></div>
          </div>
        </section>
      </div>
    </div>
    <div class="row footer-copyright">
      <div class="col footer-copyright-section">
        <div>Лого</div>
        <div class="arrow-up"></div>
        <div>2018 WEB</div>
      </div>
    </div>
  </footer>

</body>
</html>