@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.25vw;
}

a {
  color: #FFF;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

/* Menu */
.navbar-brand, .navbar {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0px;
}

.navbar-brand {
  height: 3.9vw;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  color:#FFF;
}

.navbar-brand span {
  position: absolute;
  left: 13%;
}

.navbar {
  background-color: #2D2B2F !important;
  height: 5.7vw;
  top: 3.8vw;
}

.navbar-collapse {
  position: absolute;
  left: 13%;
}

.nav-item {
  font-style: normal;
  font-weight: 300;
  font-size: 1.5vw;
  line-height: 1.8vw;
  margin-right: 5rem;

  color: #FFFFFF;
}

/* Banner Home*/
.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner-header {
  position: absolute;
  width: 26%;
  height: 8.85%;
  left: 18%;
  top: 58%;
  
  font-style: normal;
  font-weight: 100;
  font-size: 3.75vw;
  line-height: 4.3vw;

  color: #FFFFFF;
}

/* Search group*/
form[data-id*="search-form-main" i] {
  width: 38%;
  height: 30vw;
  background: rgba(41, 41, 41, 0.8);
  position: absolute;
  left: 50%;
  top: 21.3vw;
  padding: 4% 1.4% 3%;
  color: #FFF;
}

form[data-id*="search-form-main" i] .btn-submit,
form[data-id*="search-form-booking" i] .btn-submit {
  width: 48%;
  height: 60px;
  float: right;

  font-size: 1.25vw;
  color: #292929;
  background-color: #FFA800;
  border: 1px solid #FFA800;
  border-radius: 5px;
}

.search-form-place {
  background-image: url(../src/images/location.svg);
  background-repeat: no-repeat;
  background-position: 95%;
} 

.search-form-place .css-1hb7zxy-IndicatorsContainer {
  display: none;
}

.search-form-place .css-319lph-ValueContainer,
.search-form-place .css-6j8wv5-Input {
  padding: 0;
  margin: 0;
  height: 57px;
  font-weight: 300;
}

.search-form-place .css-319lph-ValueContainer {
  padding: 0 38px 0 21px;
  background-image: url(../src/images/location.svg);
  background-repeat: no-repeat;
  background-position: 95%;
}

.search-form-place {
  display: block;
  width: 47%;
  height: 57px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #292929;
  border-radius: 3px;
}

.search-form__place-group,
.search-form__date-group {
  margin: 1vh 0 2.9vw;
  position: relative;
}

.search-form__place-group img {
  cursor: pointer;
}

#react-select-3-listbox,
#react-select-5-listbox,
#react-select-7-listbox,
#react-select-9-listbox {
  z-index: 50;
  font-variant: small-caps;
  background-color: #F5F4F6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-size: 18px;
  line-height: 8px;
}

.search-form__date-group .fiirft{
  background-color: #FFF;
  width: 47%;
  border-radius: 3px;
}

.search-form__date-group [data-testid*="CalendarIcon" i] {
  font-size: 2.5rem;
  color: #E5E5E5;
}

.search-form__date-group input {
  height: 1.65em;
}

.search-form__date-group label {
  font-weight: 100;
  font-size: 18px;
}

.sc-hGPBjI.cwQmpu {
  display: none;
}

/* Search form Booking*/
form[data-id*="search-form-booking" i] {
  width: 77.6%;
  height: 17vw;
  background: rgba(41, 41, 41, 0.8);
  position: absolute;
  left: 11.5%;
  top: 14.2vw;
  padding: 1.5% 2.3% 4%;
  color: #FFF;
}

.search-form-booking__item {
  width: calc(100%/2 - 2%);
}

form[data-id*="search-form-booking" i] .btn-submit {
  width: 22.5%;
}

/* Footer */
.footer {
  color: #FFF;
  background-color: #2D2B2F !important;
}

.footer-contacts img {
  padding: 2% 5% 2% 0;
}

h5 {
  font-size: 1.56vw;
  margin-bottom: 15px;
}

.footer-subscription {
  margin-bottom: 45px;
}

form[data-id*="subscription-form" i] input {
  font-size: 1.25vw;
  width: 68%;
  height: 60px;
  padding: 17px 21px;
 
}

form[data-id*="subscription-form" i] button {
  font-size: 1.25vw;
  width: 26%;
  height: 60px;
}

.footer-social-link {
  display: inline-block;
  width: 40px;
  height: 30px;
  margin-right: 30px;
  background-repeat: no-repeat;
}

.footer-social-link-youtube {
  background-image: url(../src/images/youtube.svg);
}

.footer-social-link-instagram {
  background-image: url(../src/images/instagram.svg);
}

.footer-social-link-google {
  width: 48px;
  background-image: url(../src/images/google.svg);
}

.footer-social-link-facebook {
  background-image: url(../src/images/facebook.svg);
}

.footer-social-link-twitter {
  background-image: url(../src/images/twitter.svg);
}

.footer-description {
  padding: 2.6% 12% 2.6% 18%;
  border-bottom: 1px solid #E5E5E5;
}

.footer-copyright {
  padding: 0 12%;
  height: 96px;  
}

.footer-copyright-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-up {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../src/images/arrow.svg);
  cursor: pointer;
}

/* Main */
.about-main {
  border-left: 9px solid #FFA800;
  padding-left: 20px;
}

.about {
  padding: 10.5% 12% 8.5%;
}

.about-process {
  background-image: url(../src/images/banner-main.svg);
  height: 36rem;
  padding: 3.8% 13.4% 5%;
  color: #FFFFFF;
}

.about-process .text-uppercase {
  font-weight: 500;
}

.about-process button {
  width: 325px;
  height: 60px;
  font-weight: 700;
}

.about-item-img {
  width: 162px;
  height: 162px;
  margin-bottom: 35px;
}

.feedback {
  height: 748px;
  padding: 7.5% 11.5% 6%;
}

.feedback-item-img {
  width: 215px;
  height: 215px;
}

.feedback-item {
  width: calc((100%-20px)/2);
  gap: 20px;
  font-size: 18px;
}

.feedback-slider {
  gap: 11px;
}

.slider-item {
  width: 19px;
  height: 19px;
  background-color: #E4E4E4;
  border-radius: 50%;
}

.slider-item.active {
  background-color: #C4C4C4;
}

/* Progress bar */
.progress-line {
  height: 98px;
  color:#FFFFFF;
}

ol > li {       
  display: table-cell;
  height: 30px;        
  position: relative;
  padding: 0px;
  margin: 0px;
  background-color: #3E3C41;
}
ol > li:not(:last-child):not(:first-child) {
  width: 20%;
}


ol > li > div {         
  position:relative;        
  line-height: 30px; /* equal to the list item's height */
  height:100%;
  width: 100%;         
}
ol>li.active {
  background-color: #FFA800;
  color: white;
}
ol {
  display: table;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}
ol > li:not(:last-child) > div:after, ol > li:not(:last-child) > div:before {
  content:"";
  display:inline-block;        
  border-width: 50px;
  border-style: solid;
  width: 0px;
  height: 0px;
  left: 100%;
  top: -1px;        
  position: absolute;        
  z-index: 1;
}
ol > li > div:after {
  border-color: transparent transparent transparent #E5E5E5;
}

ol > li:not(:last-child).active > div:before {
  border-color: transparent transparent transparent #FFA800;
}

ol > li:not(:last-child) > div:before {
  border-width: 48px;
  display: block;
  border-color: transparent transparent transparent #3E3C41;
  z-index: 2;
  top:1px;
}

.progress-line__item span {
  font-size: 1.56vw;
  font-weight: 700;
}

.progress-line__item-number {
  font-size: 1.85vw;
  font-weight: 700;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding: 10px 16px;
  margin: 0 15px;
}


/* Main booking */
.main-booking {
  padding: 5vw 13vw 10vw;
  background-color: #F7F5F9;
}

.body-container {
  width: 50vw;
}

.side-container {
  width: 19vw;
}

.pages-control__item {
  width: 85px;
  height: 75px;
  color: #928F94;
  
  border-radius: 5px;
  border: 2px solid #C4C4C4;

  font-size: 30px;
  font-weight: 500;
  line-height: 70px;
}

.arrow-back, .arrow-forward {
  display: inline-flex;
  width: 17px;
  height: 17px;
}

.arrow-back {
  border-top: 4px solid #928F94;
  border-left: 4px solid #928F94;
  transform: rotate(-45deg);
}

.arrow-forward {
  border-top: 4px solid #928F94;
  border-right: 4px solid #928F94;
  transform: rotate(45deg);
}

.pages-control__item.active {
  color: #FFF;
  background-color: #FFA800;
  border: 2px solid #FFA800;
}

.pages-control__item:hover {
  color: #FFA800;
  border: 2px solid #FFA800;
}

.trains-group {
  margin-top: 45px;
  margin-bottom: 140px;
}

/* Aside  */

/* filters */
.filters__wrap {
  width: 100%;
  background-color: #3E3C41;
  margin-bottom: 94px;
  color: #FFF;
}

.filters__item {
  padding: 3vw 2.2vw 2.3vw;
  border-bottom: 1px solid #E5E5E5;
  gap: 17px;
}

.search__item-name,
.filters__item-name,
.details__item-name {
  font-size: 1.56vw;
  font-weight: 700;
}

.search-form-filter .MuiInputBase-formControl {
  background-color: #FFF;
  font-weight: 100;
  font-size: 18px;
  color: #292929;
  background: #FFFFFF;
  border-radius: 3px;
} 

.search-form-filter [data-testid*="CalendarIcon" i] {
  font-size: 2rem;
  color: #E5E5E5;
}

.item__train-type {
  font-size: 18px;
}

.item__train-type img {
  width: 17px;
  height: 27px;
  margin: 0 1.8vw;
}

/* Checkbox */
.item__train-type .MuiSwitch-track {
  background-color: #FFF;
  opacity: 1;
  border-radius: 10px;
}
.item__train-type .PrivateSwitchBase-root.Mui-checked {
  transform: translateX(32px);
}

.item__train-type .MuiSwitch-thumb {
  background-color: #C4C4C4;
}

.item__train-type .PrivateSwitchBase-root.Mui-checked .MuiSwitch-thumb {
  background-color: #FFA800;
  opacity: 1;
}
.item__train-type .PrivateSwitchBase-root.Mui-checked ~ .MuiSwitch-track {
  background-color: #FCDC9D;
  opacity: 1;
}

/* Direction and Price sliders  */
.item__direction .rc-slider,
.item__price .rc-slider {
  margin: 19px 10px;
}

.item__direction .rc-slider-rail {
  height: 10px;  
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  background-color: transparent;
}

.item__direction .rc-slider-track {
  height: 10px;
  background-color: #FFA800;
}

.item__direction .rc-slider-handle-1,
.item__direction .rc-slider-handle-2 {
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: none;
}

.rc-slider-handle-dragging {
  border-color: transparent !important;
  box-shadow: unset !important;
}

.item__price .rc-slider-rail {
  height: 19px;  
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  background-color: transparent;
}

.item__price .rc-slider-track {
  height: 19px;
  background-color: #FFA800;
}

.item__price .rc-slider-handle-1,
.item__price .rc-slider-handle-2 {
  width: 26px;
  height: 26px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: none;
}

/* .rc-slider-dot {
  display: none;
} */

/*  */
.drop-down-toggle {
  width: 20px;
  height: 20px;

  position: relative;
  align-self: center;
  border: 2px solid #FFFFFF;
  border-radius: 5px;

  cursor: pointer;
}

.filters__drop-down {
  display: none;
}

.show-filter {
  display: block;
}

.drop-down-toggle:before, .drop-down-toggle:after {
  position: absolute;
  left: 7px;
  top: 2px;
  content: ' ';
  height: 12px;
  width: 2px;
  background-color: #FFF;
}

.drop-down-toggle:after {
  transform: rotate(90deg);
}

.open.drop-down-toggle:before {
  display: none;
}

.item__direction img{
  padding-right: 10px;
}

/* latest  */
.side__latest h3 {
  font-size: 1.56vw;
  padding-bottom: 26px;
}

.latest-item {
  width: 100%;
  height: 161px;
  padding: 18px;
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 19px;
  color: #928F94;

  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(62, 60, 65, 0.25);
}

.latest__city {
  font-size: 20px;
  line-height: 23px;
  color: #292929;
}

.latest__station{
  padding: 5px 0;
}

.latest__price span {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  padding: 0 5px;
  color: #FFA800;
}

.latest__price img {
  vertical-align: baseline;
}

/* Modal  */
.modal {
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.modal-header, .modal-footer {
  height: 84px;
  background-color: rgba(255, 245, 0, 0.36);
}

.modal-info .modal-header {
  background-color: rgba(255, 245, 0, 0.36);
}

.modal-error .modal-header {
  background: rgba(255, 61, 0, 0.38);
}

.modal-info .modal-title {
  background-image: url(../src/images/info-img.svg);
  width: 32px;
  height: 32px;
}

.modal-error .modal-title {
  background-image: url(../src/images/error-img.svg);
  width: 32px;
  height: 32px;
}

.modal-body, .modal-footer {
  background-color: #FBFBFB;
}

.modal .btn {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border: 1px solid #292929;
  border-radius: 5px;
}

/* BODY  */
.trains-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #928F94;
}

.trains-header__sorting {
  position: relative;
}

.trains-header__sorting span {
  padding-left: 5px;
  color: #292929;
  cursor: pointer;
  font-weight: 300;
}

.select-sorting {
  display: none;
  width: 139px;
  background-color: #F7F5F9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  list-style: none;
  font-weight: 100;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 63%;
  color: #292929;
}

.select-sorting.open {
  display: block;
}

.select-sorting li {
  height: 37px;
  padding: 5px 10px;
  border-bottom: 1px solid #E5E5E5;
  cursor: pointer;
}

.select-quantity {
  padding-left: 10px;
  cursor: pointer;
}

.select-sorting li:hover,
.select-quantity:hover {
  color: #FFF;
  background-color: #FFCA62;
}

.select-quantity.active {
  color: #292929;
  font-weight: 300;
}

.trains-group__item {
  /* height: 354px; */
  width: 100%;
  margin-bottom: 50px;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.trains-group__item:focus {
  border: 1px solid #FFA800;
}

.item__short-info {
  width: 20.5%;
  padding: 1.6vw 1.4vw;
  background-color: #E4E0E9;
}

.item__short-info__logo {
  background-image: url(./images/train-logo.svg);
  width: 86px;
  height: 86px;
}

.item__short-info__direction {
  font-size: 16px;
}

.direction-from {
  color: #928F94;
}

.item__short-info__number,
.item__body__from__time,
.item__body__to__time {
  font-weight: 500;
}

.item__body {
  width: 50%;
  border-right: 1px dashed #E5E5E5;
}

.item__body__one-way,
.item__body__way-back {
  padding: 2.8vw 2vw 1.6vw;
}

.item__body__from__city,
.item__body__to__city {
  font-size: 16px;
  color: #000;
}

.item__body__from__station,
.item__body__to__station {
  font-size: 16px; 
  color: #928F94;
}

.item__body__direction__time {
  font-size: 18px;
  color: #C4C4C4;
}

.item__body__direction__arrow,
.item__body__direction__arrow-back {
  background-image: url(./images/arrow-colored.svg);
  width: 30px;
  height: 20px;
  margin: 0 auto;
}

.item__body__direction__arrow {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.item__options-info {
  width: 29.5%;
  padding: 1.9vw 1.3vw 1.15vw;
}

.item__options-info__carriage {
  font-size: 0.83vw;
  color: #3E3C41;
  padding-bottom: 24px;
}

.carriage__type {
  width: 35%;
}

.carriage__available {
  color: #FFA800;
  width: 15%;
  position: relative;
  cursor: pointer;
}

.carriage__price {
  color: #928F94;
  width: 50%;
}

.carriage__price span {
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 28px;
  padding: 0 5px;
  color: #2D2B2F;
}

.carriage__price img  {
  vertical-align: text-bottom;
}

.item__options-info .btn {
  width: 100%;
  height: 39px;
  background-color: #FFA800;
  border-radius: 5px;
  color: #FFF;
  margin-top: 10px;
}

.available-breakdown {
  display: none;
  position: absolute;
  left: -5vw;
  width: 14vw;
  max-width: 276px;
  background-color: #F7F5F9;
  border-radius: 5px;
  padding: 17px 17px 20px 30px;
  list-style-type: none;
  z-index: 10;
  color: #000;
}

.carriage__available:hover .available-breakdown {
  display: block;
}

/* chose carriage */
.one-way-group,
.way-back-group {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.way-back-group {
  margin-top: 30px;
}

.way__go-back {
  display: flex;
  padding: 30px 20px;
  gap: 10px;
}

.way-back__go-back img {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.way__route {
  padding: 17px 35px;
  background-color: #F7F6F6;
}

.btn-back {
  width: 325px;
  height: 60px;
  border: 1px solid #292929;
  color: #292929;
  background-color: #FFF;
  border-radius: 5px;
  font-size: 24px;
}

.way__route img {
  width: 30px;
  height: 30px;
  margin: 0 15px;
}

.route-time {
  font-size: 18px;
  color: #000000;
}

.way__quantity {
  padding: 40px 0 50px;
}

.way__quantity h4,
.way__carriage-type h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  padding-left: 20px;
  color: #292929;
}

.quantity-item {
  width: calc(100%/3);
  padding: 1vw 2vw;
  border: 1px solid transparent;
}

.quantity-item__input-group {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  border: 1px solid #928F94;
  border-radius: 5px;
  margin-bottom: 23px;
  font-size: 18px;
  color: #292929;
  font-weight: 300;
}

.quantity-item.active {
  background-color: #F7F6F6;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.quantity-item:hover{
  border: 1px solid rgba(255, 168, 0, 0.79);
}

.input-group__text{
  font-size: 16px;
  line-height: 19px;
}

.item-second .input-group__text {
  color: #928F94;
}

.quantity-item__input-group p {
  margin: 0;
  text-align: center;
  padding-left: 0.65vw;
  font-size: 0.94vw;
  line-height: 50px;
  color: #000;
  white-space: nowrap;
}

.way__carriage-type {
  border-top: 1px dashed #C4C4C4;
  padding: 25px 0;
}

.carriage-type {
  cursor: pointer;
}

.carriage-type img {
  width: 50px;
  height: 50px;
  margin: 18px;
}

.carriage-type.active span {
  color: #FFA800;
}
.carriage-type.active img {
  filter: brightness(0) saturate(100%) invert(56%) sepia(97%) saturate(814%) hue-rotate(1deg) brightness(104%) contrast(104%);
}

.carriage-group__header {
  font-size: 16px;
  line-height: 19px;

  color: #292929;
  background-color: rgba(255, 168, 0, 0.44);

  padding: 5px 30px;
}

.select-carriage {
  padding: 0 5px;
  font-size: 24px;
}

.active-carriage {
  color: #FFF;
}

.selected-carriage__item-colored {
  width: 190px;
  max-height: 161px;
  padding: 30px;
  background-color: #FFD98F;
}
.number__zoom {
  font-size: 72px;
  line-height: 72px;
  font-weight: 500;
}

.selected-carriage__item {
  max-height: 161px;
  padding: 26px;
  line-height: 34px;
}

.selected-carriage__item img {
  margin: 0 5px;
}

.carriage-all,
.carriage-price,
.carriage-qualities {
  font-size: 18px;
  color: #928F94;
}

.all-total {
  color: #000;
}

.qualities {
  color: #C4C4C4;
}

.carriage-top,
.carriage-bottom {
  font-weight: 300;
}

.carriage-top img,
.carriage-bottom img {
  width: 14px;
  height: 17px;
  vertical-align: baseline;
}

.qualities-item {
  width: 36px;
  height: 34.11px;
  border: 1px solid #292929;
  border-radius: 5px;
  padding: 7.58px;
}

.qualities-item:hover {
  background-color: #FFA800;
}

.qualities-item.active {
  background-color: #FCDC9D;
  border: 1px solid #FCDC9D;
}

.qualities-item.optional {
  border: 1px solid #FDB935;
  background-color: #FDB935;
}

.carriage-tip {
  font-size: 16px;
  width: 199px;
  height: 72px;
  background-color: #F3F3F3;
  border-radius: 5px;
  padding: 15px;
  margin: 0 40px 0 auto;
}

.carriage-train {
  max-width: 921px;
  height: 145px;
  border: 2px solid #F3F3F3;
  border-radius: 15px;
  margin: 20px auto 0;
}

.carriage-enter {
  width: 5%;
  height: 100%;
  border-right: 1px solid #F3F3F3;
}

.enter-2 {
  background-image: url(./images/no-smoking.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center ;
}

.carriage-toilet {
  width: 5%;
  height: 100%;
  border-right: 1px solid #F3F3F3;
  background-image: url(./images/carriage-toilet.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center 25%;
}

.carriage-crew {
  width: 10%;
  height: 100%;
  border-right: 1px solid #796d6d;

  background-image: url(./images/carriage-crew.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center 25%;
}

.carriage-seats {
  width: 70%;
  height: 100%;
  border: 5px solid #928F94;
}

.carriage-price {
  height: 79px;
}

/* fourth class */
.seats-fourth__top,
.seats-fourth__bottom {
  height: 50%;
  width: 100%;
}

.seats-fourth__top {
  padding-bottom: 10px;
}

.seats-fourth__bottom {
  padding-top: 10px;
}

.seat-item-fourth {
  width: 29px;
  height: 20px;
  background-color: #F7F5F9;
  margin: 3px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

/* third class  */

.seat-item-third {
  width: 2vw;
  height: 30px;
  margin: 1px;
  background-color: #F7F5F9;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

.seats-space__top {
  height: 60%;
  width: 100%;
  padding-bottom: 10px;
}

.seats-space__bottom {
  padding-top: 10px; 
  width: 100%;
}

.seats-third-space:not(:last-child),
.seats-first-space:not(:last-child) {
  border-right: 5px solid #928F94;;
}

.seats-third-space {
  width: 16%;
}

/* second class */
.seat-item-second {
  width: 2.3vw;
  height: 30px;
  margin: 1px;
  background-color: #F7F5F9;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  align-self: center;
  cursor: pointer;
}


/* first class */
.seats-first-space {
  width: 16vw;
}

.seat-item-first {
  width: 1.6vw;
  height: 70px;
  background-color: #F7F5F9;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  align-self: center;
  cursor: pointer;
}

.seat-focus{
  outline: 2px solid #FFA800;
}

.seat-not-available {
  background-color: #E5E5E5;
  color: #FFF;
  cursor: unset;
}

.carriage__total-price {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;

  color: #FFA800;
  padding: 20px 40px;
}

.carriage__total-price img {
  margin: 0 5px;
}


.btn-next {
  width: 222px;
  height: 60px;
  background-color: #FFA800;
  border-radius: 5px;
  color: #FFF;
  font-size: 24px;
  float: right;
  margin-top: 100px;
}

.btn-next:disabled {
  background-color: #928F94;
  color: #FFF;
}

/* passenger page  */
.details__wrap {
  width: 100%;
  background-color: #3E3C41;
  margin-bottom: 94px;
  color: #FFF;
}

.details__title {
  font-size: 1.56vw;
  padding: 1.8vw 2.2vw 1.6vw;
  border-bottom: 1px solid #E5E5E5;
}

.details__item {
  padding: 0.8vw 1.4vw 2.6vw;
  border-bottom: 1px solid #E5E5E5;
  /* gap: 17px; */
}

.details__drop-down {
  display: none;
  padding: 50px 0 0;
  font-size: 18px;
}

.details__drop-down.show {
  display: block;
}

.drop-down__number {
  font-size: 24px;
  font-weight: 700;
}

.drop-down__name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  /* padding-top: 10px; */
}

.drop-down__time {
  padding: 50px 0 20px;
}

.drop-down__time-time {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.drop-down__station-name {
  font-size: 16px;
  line-height: 10px;
  color: #928F94;
}

.drop-down__total {
  font-size: 24px;
  font-weight: 500;
}

.details__drop-down img {
  width: 14px;
  height: 17px;
  margin-left: 5px;
  vertical-align: baseline;
}

.details__item-name {
  padding-left: 10px;
}

.details__date {
  font-size: 0.93vw;
}

.details__footer {
  padding: 1.56vw;
  font-size: 1.56vw;
  font-weight: 700;
}

.details__footer-price {
  font-size: 2.5vw;
  line-height: 56px;
  color: #FFA800;
}

.details__footer img {
  width: 26px;
  height: 32px;
  margin: 0 5px;
  vertical-align: baseline;
}

