@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.25vw;
}

a {
  color: #FFF;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

/* Menu */
.navbar-brand, .navbar {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0px;
}

.navbar-brand {
  height: 3.9vw;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  color:#FFF;
}

.navbar-brand span {
  position: absolute;
  left: 13%;
}

.navbar {
  background-color: #2D2B2F !important;
  height: 5.7vw;
  top: 3.8vw;
}

.navbar-collapse {
  position: absolute;
  left: 13%;
}

.nav-item {
  font-style: normal;
  font-weight: 300;
  font-size: 1.5vw;
  line-height: 1.8vw;
  margin-right: 5rem;

  color: #FFFFFF;
}

/* Banner Home*/
.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner-header {
  position: absolute;
  width: 26%;
  height: 8.85%;
  left: 18%;
  top: 58%;
  
  font-style: normal;
  font-weight: 100;
  font-size: 3.75vw;
  line-height: 4.3vw;

  color: #FFFFFF;
}

/* Search form Home*/
form[data-id*="search-form-main" i] {
  width: 38%;
  height: 30vw;
  background: rgba(41, 41, 41, 0.8);
  position: absolute;
  left: 50%;
  top: 21.3vw;
  padding: 4% 1.4% 3%;
  color: #FFF;
}

form[data-id*="search-form-main" i] label,
form[data-id*="search-form-booking" i] label {
  font-size: 1.55vw;
}

form[data-id*="search-form-main" i] button,
form[data-id*="search-form-booking" i] button {
  width: 48%;
  height: 60px;
  float: right;

  font-size: 1.25vw;
  color: #292929;
  background-color: #FFA800;
  border: 1px solid #FFA800;
  border-radius: 5px;
}

form[data-id*="search-form-main" i] input,
form[data-id*="search-form-booking" i] input {
  width: 47%;
  height: 60px;

  font-weight: 100;
  font-size: 18px;
  color: #E5E5E5;
  padding: 17px 38px 13px 21px;
} 

.search-form-place {
  background-image: url(../src/images/location.svg);
  background-repeat: no-repeat;
  background-position: 95%;
} 

.search-form-date {
  background-image: url(../src/images/calendar.svg);
  background-repeat: no-repeat;
  background-position: 95%;
} 

.search-form__group {
  margin: 5px 0 50px;
}

/* Search form Booking*/
form[data-id*="search-form-booking" i] {
  width: 77.6%;
  height: 17vw;
  background: rgba(41, 41, 41, 0.8);
  position: absolute;
  left: 11.5%;
  top: 14vw;
  padding: 1.5% 2.3% 4%;
  color: #FFF;
}

.search-form-booking__item {
  width: calc(100%/2 - 2%);
}

form[data-id*="search-form-booking" i] button {
  width: 22.5%;
}

/* Footer */
.footer {
  color: #FFF;
  background-color: #2D2B2F !important;
}

.footer-contacts img {
  padding: 2% 5% 2% 0;
}

h5 {
  font-size: 1.56vw;
  margin-bottom: 15px;
}

.footer-subscription {
  margin-bottom: 45px;
}

form[data-id*="subscription-form" i] input {
  font-size: 1.25vw;
  width: 68%;
  height: 60px;
  padding: 17px 21px;
 
}

form[data-id*="subscription-form" i] button {
  font-size: 1.25vw;
  width: 26%;
  height: 60px;
}

.footer-social-link {
  display: inline-block;
  width: 36px;
  height: 30px;
  margin-right: 30px;
  background-repeat: no-repeat;
}

.footer-social-link-youtube {
  background-image: url(../src/images/youtube.svg);
}

.footer-social-link-instagram {
  background-image: url(../src/images/instagram.svg);
}

.footer-social-link-google {
  width: 48px;
  background-image: url(../src/images/google.svg);
}

.footer-social-link-facebook {
  background-image: url(../src/images/facebook.svg);
}

.footer-social-link-twitter {
  background-image: url(../src/images/twitter.svg);
}

.footer-description {
  padding: 2.6% 12% 2.6% 18%;
  border-bottom: 1px solid #E5E5E5;
}

.footer-copyright {
  padding: 0 12%;
  height: 96px;  
}

.footer-copyright-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-up {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../src/images/arrow.svg);
  cursor: pointer;
}

/* Main */
main {
  border-top: 9px solid #FFA800;
}

.about-main {
  border-left: 9px solid #FFA800;
  padding-left: 20px;
}

.about {
  padding: 10.5% 12% 8.5%;
}

.about-process {
  background-image: url(../src/images/banner-main.svg);
  height: 36rem;
  padding: 3.8% 13.4% 5%;
  color: #FFFFFF;
}

.about-process .text-uppercase {
  font-weight: 500;
}

.about-process button {
  width: 325px;
  height: 60px;
  font-weight: 700;
}

.about-item-img {
  width: 162px;
  height: 162px;
  margin-bottom: 35px;
}

.feedback {
  height: 748px;
  padding: 7.5% 11.5% 6%;
}

.feedback-item-img {
  width: 215px;
  height: 215px;
}

.feedback-item {
  width: calc((100%-20px)/2);
  gap: 20px;
  font-size: 18px;
}

.feedback-slider {
  gap: 11px;
}

.slider-item {
  width: 19px;
  height: 19px;
  background-color: #E4E4E4;
  border-radius: 50%;
}

.slider-item.active {
  background-color: #C4C4C4;
}
