@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.25vw;
}

a {
  color: #FFF;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

/* Menu */
.navbar-brand, .navbar {
  position: absolute;
  z-index: 5;
  width: 100%;
  left: 0px;
}

.navbar-brand {
  height: 3.9vw;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  color:#FFF;
}

.navbar-brand span {
  position: absolute;
  left: 13%;
}

.navbar {
  background-color: #2D2B2F !important;
  height: 5.7vw;
  top: 3.8vw;
}

.navbar-collapse {
  position: absolute;
  left: 13%;
}

.nav-item {
  font-style: normal;
  font-weight: 300;
  font-size: 1.5vw;
  line-height: 1.8vw;
  margin-right: 5rem;

  color: #FFFFFF;
}

/* Banner Home*/
.banner {
  position: relative;
}

.banner img {
  width: 100%;
}

.banner-header {
  position: absolute;
  width: 26%;
  height: 8.85%;
  left: 18%;
  top: 58%;
  
  font-style: normal;
  font-weight: 100;
  font-size: 3.75vw;
  line-height: 4.3vw;

  color: #FFFFFF;
}

/* Search group*/
form[data-id*="search-form-main" i] {
  width: 38%;
  height: 30vw;
  background: rgba(41, 41, 41, 0.8);
  position: absolute;
  left: 50%;
  top: 21.3vw;
  padding: 4% 1.4% 3%;
  color: #FFF;
}

/* form[data-id*="search-form-main" i] label,
form[data-id*="search-form-booking" i] label {
  font-size: 1.55vw;
  color: #E5E5E5;
} */

form[data-id*="search-form-main" i] .btn-submit,
form[data-id*="search-form-booking" i] .btn-submit {
  width: 48%;
  height: 60px;
  float: right;

  font-size: 1.25vw;
  color: #292929;
  background-color: #FFA800;
  border: 1px solid #FFA800;
  border-radius: 5px;
}

form[data-id*="search-form-main" i] .search-form__place-group input,
form[data-id*="search-form-booking" i] .search-form__place-group input {
  width: 47%;
  height: 60px;

  font-weight: 100;
  font-size: 18px;
  color: #292929;
  padding: 17px 38px 13px 21px;
} 

.search-form-place {
  background-image: url(../src/images/location.svg);
  background-repeat: no-repeat;
  background-position: 95%;
} 

.search-form__place-group,
.search-form__date-group {
  margin: 1vh 0 2.9vw;
  position: relative;
}

.search-form__date-group .fiirft{
  background-color: #FFF;
  width: 47%;
  border-radius: 3px;
}

.search-form__date-group [data-testid*="CalendarIcon" i] {
  font-size: 2.5rem;
  color: #E5E5E5;
}

.search-form__date-group input {
  height: 1.65em;
}

.search-form__date-group label {
  font-weight: 100;
  font-size: 18px;
}

.sc-hGPBjI.cwQmpu {
  display: none;
}

.search-form__tooltip {
  display: none;
  position: absolute;
  top: 65px;
  width: 16.5vw;
  z-index: 3;

  background-color: #F5F4F6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  list-style: none;
  padding: 14px 28px;

  color: #292929;
  font-size: 18px;
  line-height: 21px;
  font-variant: small-caps;
}

.search-form__place-group input:focus + .search-form__tooltip { 
  display: block;
}

.search-form__place-group .search-form__tooltip li:hover {
  background-color: #C4C4C4;
  cursor: pointer;
}

/* Search form Booking*/
form[data-id*="search-form-booking" i] {
  width: 77.6%;
  height: 17vw;
  background: rgba(41, 41, 41, 0.8);
  position: absolute;
  left: 11.5%;
  top: 14.2vw;
  padding: 1.5% 2.3% 4%;
  color: #FFF;
}

.search-form-booking__item {
  width: calc(100%/2 - 2%);
}

form[data-id*="search-form-booking" i] .btn-submit {
  width: 22.5%;
}

/* Footer */
.footer {
  color: #FFF;
  background-color: #2D2B2F !important;
}

.footer-contacts img {
  padding: 2% 5% 2% 0;
}

h5 {
  font-size: 1.56vw;
  margin-bottom: 15px;
}

.footer-subscription {
  margin-bottom: 45px;
}

form[data-id*="subscription-form" i] input {
  font-size: 1.25vw;
  width: 68%;
  height: 60px;
  padding: 17px 21px;
 
}

form[data-id*="subscription-form" i] button {
  font-size: 1.25vw;
  width: 26%;
  height: 60px;
}

.footer-social-link {
  display: inline-block;
  width: 36px;
  height: 30px;
  margin-right: 30px;
  background-repeat: no-repeat;
}

.footer-social-link-youtube {
  background-image: url(../src/images/youtube.svg);
}

.footer-social-link-instagram {
  background-image: url(../src/images/instagram.svg);
}

.footer-social-link-google {
  width: 48px;
  background-image: url(../src/images/google.svg);
}

.footer-social-link-facebook {
  background-image: url(../src/images/facebook.svg);
}

.footer-social-link-twitter {
  background-image: url(../src/images/twitter.svg);
}

.footer-description {
  padding: 2.6% 12% 2.6% 18%;
  border-bottom: 1px solid #E5E5E5;
}

.footer-copyright {
  padding: 0 12%;
  height: 96px;  
}

.footer-copyright-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-up {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url(../src/images/arrow.svg);
  cursor: pointer;
}

/* Main */
.about-main {
  border-left: 9px solid #FFA800;
  padding-left: 20px;
}

.about {
  padding: 10.5% 12% 8.5%;
}

.about-process {
  background-image: url(../src/images/banner-main.svg);
  height: 36rem;
  padding: 3.8% 13.4% 5%;
  color: #FFFFFF;
}

.about-process .text-uppercase {
  font-weight: 500;
}

.about-process button {
  width: 325px;
  height: 60px;
  font-weight: 700;
}

.about-item-img {
  width: 162px;
  height: 162px;
  margin-bottom: 35px;
}

.feedback {
  height: 748px;
  padding: 7.5% 11.5% 6%;
}

.feedback-item-img {
  width: 215px;
  height: 215px;
}

.feedback-item {
  width: calc((100%-20px)/2);
  gap: 20px;
  font-size: 18px;
}

.feedback-slider {
  gap: 11px;
}

.slider-item {
  width: 19px;
  height: 19px;
  background-color: #E4E4E4;
  border-radius: 50%;
}

.slider-item.active {
  background-color: #C4C4C4;
}

/* Progress bar */
.progress-line {
  height: 98px;
  color:#FFFFFF;
}

ol > li {     
  cursor: pointer;   
  display: table-cell;
  height: 30px;        
  position: relative;
  padding: 0px;
  margin: 0px;
  background-color: #3E3C41;
}
ol > li:not(:last-child):not(:first-child) {
  width: 20%;
}


ol > li > div {         
  position:relative;        
  line-height: 30px; /* equal to the list item's height */
  height:100%;
  width: 100%;         
}
ol>li.active {
  background-color: #FFA800;
  cursor: pointer;
  color: white;
}
ol {
  display: table;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}
ol > li:not(:last-child) > div:after, ol > li:not(:last-child) > div:before {
  content:"";
  display:inline-block;        
  border-width: 50px;
  border-style: solid;
  width: 0px;
  height: 0px;
  left: 100%;
  top: -1px;        
  position: absolute;        
  z-index: 1;
}
ol > li > div:after {
  border-color: transparent transparent transparent #E5E5E5;
}

ol > li:not(:last-child).active > div:before {
  border-color: transparent transparent transparent #FFA800;
}

ol > li:not(:last-child) > div:before {
  border-width: 48px;
  display: block;
  border-color: transparent transparent transparent #3E3C41;
  z-index: 2;
  top:1px;
}

.progress-line__item span {
  font-size: 1.56vw;
  font-weight: 700;
}

.progress-line__item-number {
  font-size: 1.85vw;
  font-weight: 700;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding: 10px 16px;
  margin: 0 15px;
}


/* Main booking */
.main-booking {
  padding: 95px 256px 190px;
  background-color: #E5E5E5;
}

.trains-container {
  /* border: 1px solid red; */
  width: 960px;
}

.side-container {
  /* border: 1px solid green; */
  width: 360px;
}

.pages-control__item {
  width: 85px;
  height: 75px;
  color: #928F94;
  
  border-radius: 5px;
  border: 2px solid #C4C4C4;

  font-size: 30px;
  font-weight: 500;
  line-height: 70px;
}

.arrow-back, .arrow-forward {
  display: inline-flex;
  width: 17px;
  height: 17px;
}

.arrow-back {
  border-top: 4px solid #928F94;
  border-left: 4px solid #928F94;
  transform: rotate(-45deg);
}

.arrow-forward {
  border-top: 4px solid #928F94;
  border-right: 4px solid #928F94;
  transform: rotate(45deg);
}

.pages-control__item.active {
  color: #FFF;
  background-color: #FFA800;
  border: 2px solid #FFA800;
}

.pages-control__item:hover {
  color: #FFA800;
  border: 2px solid #FFA800;
}

.trains-group {
  margin-top: 45px;
  margin-bottom: 140px;
}

/* Aside  */

/* filters */
.filters__wrap {
  width: 360px;
  background-color: #3E3C41;
  margin-bottom: 94px;
  color: #FFF;
}

.filters__item {
  padding: 43px 32px 34px;
  border-bottom: 1px solid #E5E5E5;
  gap: 17px;
}

.search__item-name,
.filters__item-name{
  font-size: 30px;
}

.search-form-filter .MuiInputBase-formControl {
  background-color: #FFF;
  font-weight: 100;
  font-size: 18px;
  color: #292929;
  background: #FFFFFF;
  border-radius: 3px;
} 

.search-form-filter [data-testid*="CalendarIcon" i] {
  font-size: 2rem;
  color: #E5E5E5;
}

.item__train-type {
  font-size: 18px;
}

.item__train-type img {
  width: 17px;
  height: 27px;
  margin: 0 35px;
}

/* Checkbox */
.item__train-type .MuiSwitch-track {
  background-color: #FFF;
  opacity: 1;
  border-radius: 10px;
}
.item__train-type .PrivateSwitchBase-root.Mui-checked {
  transform: translateX(32px);
}

.item__train-type .MuiSwitch-thumb {
  background-color: #C4C4C4;
}

.item__train-type .PrivateSwitchBase-root.Mui-checked .MuiSwitch-thumb {
  background-color: #FFA800;
  opacity: 1;
}
.item__train-type .PrivateSwitchBase-root.Mui-checked ~ .MuiSwitch-track {
  background-color: #FCDC9D;
  opacity: 1;
}

/* Direction and Price sliders  */
.item__direction .rc-slider,
.item__price .rc-slider {
  margin: 19px 10px;
}

.item__direction .rc-slider-rail {
  height: 10px;  
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  background-color: transparent;
}

.item__direction .rc-slider-track {
  height: 10px;
  background-color: #FFA800;
}

.item__direction .rc-slider-handle-1,
.item__direction .rc-slider-handle-2 {
  width: 18px;
  height: 18px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: none;
}

.rc-slider-handle-dragging {
  border-color: transparent !important;
  box-shadow: unset !important;
}

.item__price .rc-slider-rail {
  height: 19px;  
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  background-color: transparent;
}

.item__price .rc-slider-track {
  height: 19px;
  background-color: #FFA800;
}

.item__price .rc-slider-handle-1,
.item__price .rc-slider-handle-2 {
  width: 26px;
  height: 26px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: none;
}

/*  */
.drop-down-toggle {
  width: 20px;
  height: 20px;

  position: relative;
  align-self: center;
  border: 2px solid #FFFFFF;
  border-radius: 5px;

  cursor: pointer;
}

.drop-down-toggle:before, .drop-down-toggle:after {
  position: absolute;
  left: 7px;
  content: ' ';
  height: 17px;
  width: 2px;
  background-color: #FFF;
}

.drop-down-toggle:after {
  transform: rotate(90deg);
}

.item__direction img{
  padding-right: 10px;
}

/* latest  */
.side__latest h3 {
  font-size: 30px;
  padding-bottom: 26px;
}

.latest-item {
  width: 360px;
  height: 161px;
  padding: 18px;
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 19px;
  color: #928F94;

  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(62, 60, 65, 0.25);
}

.latest__city {
  font-size: 20px;
  line-height: 23px;
  color: #292929;
}

.latest__station{
  padding: 5px 0;
}

.latest__price span {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #FFA800;
}

.latest__price img {
  vertical-align: baseline;
}

/* Modal  */
.modal {
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.modal-header, .modal-footer {
  height: 84px;
  background-color: rgba(255, 245, 0, 0.36);
}

.modal-info .modal-header {
  background-color: rgba(255, 245, 0, 0.36);
}

.modal-error .modal-header {
  background: rgba(255, 61, 0, 0.38);
}

.modal-info .modal-title {
  background-image: url(../src/images/info-img.svg);
  width: 32px;
  height: 32px;
}

.modal-error .modal-title {
  background-image: url(../src/images/error-img.svg);
  width: 32px;
  height: 32px;
}

.modal-body, .modal-footer {
  background-color: #FBFBFB;
}

.modal .btn {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border: 1px solid #292929;
  border-radius: 5px;
}